{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('style/formsPages.css')}}">
{% endblock %}

{% block body %}
{{ parent() }}
    <div class="d-flex mt-5">
    {{ form_start(salle_form, {'attr': {'class': 'container'}}) }}
    {{ form_row(salle_form.name) }}
    {{ form_row(salle_form.address) }}
    {{ form_row(salle_form.capacity) }}
    {{ form_row(salle_form.franchise) }}
    {{ form_row(salle_form.user) }}
    {{ form_rest(salle_form) }}
        <div class="d-block d-md-flex">
            <div class="card mx-3 my-3" style="width: 20rem;">
                <div class="card-header">
                    Permissions globales de la franchise :
                </div>
                <ul class="list-group list-group-flush">
                    {% for franchisePermission in franchise_permissions %}
                        <li class="list-group-item">{{ franchisePermission.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Valider" id="btnSubmit">
    </div>
{% endblock %}