{% extends "base.html.twig" %}

{% block body %}

   <div class="container">
        <h1>{{ salle.name }} </h1>
        <h4>Administrateur : {{ user.firstname }} {{ user.lastname }}</h4>
        <h6>{{ salle.address }}</h6>
        <h6>{{ salle.capacity }} places</h6>
        <h6>Franchise : {{ franchise.name }}</h6>
        
        <div class="d-block d-md-flex">
            <div class="card mx-3 my-3" style="width: 20rem;">
                <div class="card-header">
                    Permissions propres à la salle
                </div>
                <ul class="list-group list-group-flush">
                    {% for permission in permissions %}
                    <li class="list-group-item"> {{ permission.name }} </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card mx-3 my-3" style="width: 20rem;">
                <div class="card-header">
                    Permissions globales de la franchise :
                </div>
                <ul class="list-group list-group-flush">
                    {% for franchisePermission in franchisePermissions %}
                        <li class="list-group-item">{{ franchisePermission.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}