{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('style/listsPages.css')}}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    
    {% if is_granted('ROLE_ADMIN') %}
        <a  class="btn btn-primary my-3" href="/permission/new" id="newButton"><i class="fa-solid fa-plus"></i> Permission</a>
    {% endif %}


    {% for permission in permissions %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" id="listGroupB">
                {{ permission.name }} : {{ permission.description }}
                <div class="d-flex">
                    {% if is_granted('ROLE_ADMIN') %}
                    <span class="badge bg-danger rounded-pill">
                        <a href="{{ path('delete-permission', {'id':permission.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </span>
                    <span class="badge bg-warning rounded-pill">
                        <a href="{{ path('edit-permission', {'id':permission.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    </span>
                    {% endif %}
               </div>
                
            </li>
        </ul>
    {% endfor %}

</div>


{% endblock %}