{% extends "base.html.twig" %}

{% block body %}
    <a  class="btn btn-primary mt-3" href="/franchise/new"><i class="fa-solid fa-plus"></i> Franchise</a>
    
    <div class="d-flex justify-content-around flex-wrap container mt-5">
        
        {% for franchise in franchises %}
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title"> {{ franchise.name }} </h3>
                    <h6 class="card-title"> Administrateur: {{ franchise.user.lastname }} {{ franchise.user.firstname }} </h6>

                    {% if franchise.salles is empty %}
                        <p>Pas de salles</p>
                    {% else %}
                        <p> {{ franchise.salles|length }} salles </p>
                    {% endif %}
                    

                    <a href="{{ path('delete-franchise', {'id':franchise.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    <a href="{{ path('edit-franchise', {'id':franchise.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('fiche-franchise', {'id':franchise.id}) }}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                </div>
            </div> 
        {% endfor %}
    </div>
{% endblock %}