{% extends "base.html.twig" %}

{% block body %}
    <a  class="btn btn-primary mt-3" href="/franchise/new">Nouvelle Franchise</a>
    
    <div class="d-flex justify-content-around flex-wrap container mt-5">
        {% for franchise in franchises %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title"> {{ franchise.name }} </h3>
                    <h5 class="card-title"> {{ franchise.email }} </h5>
                    <p class="card-text">A TROUVER liste des salles</p>
                    <a href="{{ path('delete-franchise', {'id':franchise.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('edit-franchise', {'id':franchise.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('fiche-franchise', {'id':franchise.id}) }}" class="btn btn-primary">Voir détails</a>
                </div>
            </div> 
        {% endfor %}
    </div>
{% endblock %}