{% extends 'base.html.twig' %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<a  class="btn btn-primary mt-3" href="/user/new"><i class="fa-solid fa-plus"></i> Utilisateur</a>
{% endif %}

<div class="container mt-5">

    {% for user in users %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ user.lastname }} {{ user.firstname }} : {{ user.email }} {% if user.roles[0] == 'ROLE_ADMIN' %} - URUK-HAÏ - {% else %} - CLIENT - {% endif %}
                
                 <div class="d-flex">
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="badge bg-danger rounded-pill">
                            <a href="{{ path('delete-user', {'id':user.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        </span>
                        {# <span class="badge bg-warning rounded-pill">
                            <a href="{{ path('edit-user', {'id':user.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                        </span> #}
                    {% endif %}   
                        <span class="badge bg-primary rounded-pill">
                        <a href="{{ path('fiche-user', {'id':user.id}) }}" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                        </span>
               </div>
                
            </li>
        </ul>
        {# <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a> #}
    {% endfor %}

</div>


{% endblock %}
