{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('style/listsPages.css')}}">
{% endblock %}

{% block body %}
<div class="container mt-5">

    <div class="d-flex my-3" >    
        <div class="d-flex ms-1">
        {% if is_granted('ROLE_ADMIN') %}
            <a  class="btn btn-primary" href="/user/new" id="newButton"><i class="fa-solid fa-plus"></i> Utilisateur</a>
        {% endif %}
        </div>

        <div class="dropdown d-flex ms-1" >
            <button class="btn btn-succes dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="filterButton">
                Filtrer
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="button_filter" onClick="filterShowAdmins()">Admin URUK-HAÏ</a></li>
                <li><a class="dropdown-item" id="button_filter" onClick="filterShowClients()">Clients</a></li>
                <li><a class="dropdown-item" id="button_filter" onClick="filterAllUsers()">Toute les utilisateurs</a></li>
            </ul>
        </div>
    </div>

    {% for user in users %}
        <ul class="list-group">
            {% if user.roles[0] =='ROLE_ADMIN' %}
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center" id="listGroupA">
            {% else %}
            <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center" id="listGroupB">   
            {% endif %}
                <div class="d-flex">
                    <a href="{{'/user/fiche/' ~ user.id }}" id="linkUser">{{ user.lastname }} {{ user.firstname }} </a> {% if user.roles[0] == 'ROLE_ADMIN' %} - URUK-HAÏ - {% else %} - CLIENT - {% endif %}
                </div>
            </li>
        </ul>
    {% endfor %}

</div>


{% endblock %}
