{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
        <link rel="stylesheet" href="{{ asset('style/unityPages.css')}}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1> {{ user.firstname }} {{ user.lastname }}</h1>
        <h4>Email : {{ user.email }}</h4>
        <h6>Rôle : {% if user.roles[0] == 'ROLE_ADMIN' %} - Administrateur URUK-HAÏ - {% else %} - Client - {% endif %}</h6>
        
        {% if is_granted('ROLE_ADMIN') %}
        <span class="badge bg-danger rounded-pill">
            <a href="{{ path('delete-user', {'id':user.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
        </span>
        <span class="badge bg-warning rounded-pill">
            <a href="{{ path('edit-user', {'id':user.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
        </span>
        {% endif %}

        {% if user.roles[0] == 'ROLE_USER' %}
        <div class="d-block d-md-flex">
            <div class="card mx-3 my-3" style="width: 20rem;">
                <div class="card-header">
                    Responsable des structures :
                </div>
                <ul class="list-group list-group-flush">
                
                     {% for salle in salles %}
                        <li class="list-group-item">
                            Salle :
                            <a href="{{'/salle/fiche/' ~ salle.id }}">{{ salle.name }}</a>
                        </li>
                    {% endfor %}
                
                    {% for franchise in franchises %}
                        <li class="list-group-item">
                            Franchise :
                            <a href="{{'/franchise/fiche/' ~ franchise.id }}">{{ franchise.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    
{% endblock %}